<h1>以下の内容で登録します</h1>

<%= form_for(@property, url: propertys_path) do |f| %>
  <%= f.hidden_field :name %>
  <%= f.hidden_field :rent %>
  <%= f.hidden_field :address %>
  <%= f.hidden_field :age %>
  <%= f.hidden_field :remarks %>

  <p class="field">
    <strong>物件名:</strong>
    <%= @property.name %>
  </p>

  <p class="field">
    <strong>家賃：</strong>
    <%= @property.rent %>
  </p>

  <p class="field">
    <strong>物件住所：</strong>
    <%= @property.address %>
  </p>

  <p class="field">
    <strong>築年数：</strong>
    <%= @property.age %>
  </p>

  <p class="field">
    <strong>備考：</strong>
    <%= @property.remarks %>
  </p>

<%= f.submit %>
<% end %>

<%= form_for(@property, url: new_property_path, method: :get) do |f| %>
  <%= f.hidden_field :name %>
  <%= f.hidden_field :rent %>
  <%= f.hidden_field :address %>
  <%= f.hidden_field :age %>
  <%= f.hidden_field :remarks %>

  <%= f.submit "戻る", name: :back %>
<% end %>
